.title {
    text-align: center;
    margin: 50px;
}

#about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
}

#about-wrapper-img {
    flex: 1;
    margin: 10px;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 95%;
    height: auto;
    border: 1px solid gray;
}

#box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    margin: 10px;
}

.box {
    width: 45%;
    margin: 5px;
    padding: 10px;
    border: 1px dotted rgba(255, 0, 0, 0.5);
}

.box-icon {
    max-width: 50px;
    height: auto;
}

.text-head {
    margin: 10px 0;
    color: orangered;
}

.text {
    margin: 5px 0;
    color: orange;
}

.about-details {
    flex: 1;
    margin: 10px;
    text-align: justify;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 768px) {
    #about-wrapper {
        flex-direction: column;
    }

    .about-img {
        margin-top: -50px;
        margin-bottom: -10px;
        width: 500px;
        height: 200px;
        object-fit: cover;
    }

    .about-img {
        display: none;
    }
}
