.title {
    text-align: center;
    margin: 50px 0;
}

.exp-heading {
    color: orangered;
}

.experience-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -50px; */
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.exp-box {
    /* margin: auto; */
    display: block;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    /* border: 1px solid orangered; */
}

.big-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 700px;
    /* width: 500px; */
    margin-top: -20px;
}

.big-box h2 {
    display: inline-block;
}

.small-box {
    /* display: flex; */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
    border: 1px dotted rgba(255, 0, 0, 0.5);
}

.skill-title {
    color: orange;
}

.skill-lvl {
    margin-top: -20px;
}

.insmall-box {
    width: 160px;
    margin: auto;
    align-items: center;
}

.insmall-box h3 {
    font-size: 15px;
    margin-top: 5px;
    height: auto;
}

.exp-info {
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
}