* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}

/* Profile Section */
.profile-text {
    animation: slideFadeIn 1s ease-in-out forwards;
    /* animation-delay: 0.5s; */
}

.profile-name {
    animation: slideInFromLeft 1s ease-in-out forwards;
    /* animation-delay: 1s; */
}

.profile-skill {
    animation: slideInFromBottom 1s ease-in-out forwards;
    /* animation-delay: 1.5s; */
}

.icon-spacing {
    margin-right: 5px;
}

.nav-icon {
    margin-bottom: -5px;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End Profile Section */

.title {
    text-align: center;
    margin: 50px;
}

/* About Section */
#about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#about {
    height: 100vh;
}

#about-wrapper-img {
    flex: 1;
    margin: 10px;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 95%;
    height: auto;
    border: 1px solid gray;
}

#box-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin: 10px;
}

.box {
    width: 100%;
    margin: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px dotted rgba(255, 0, 0, 0.5);
}

.box-icon {
    max-width: 50px;
    height: auto;
}

.tool-logo {
    height: 50px;
    width: auto;
}

.text-head {
    margin: 10px 0;
    /* color: #d32f2f; */
}

.text {
    margin: 5px 0;
    color: gray;
}

.about-details {
    flex: 1;
    margin-left: 7px;
    text-align: justify;
}
/* End About Section */

/* Experience Section */
#experience {
    height: 150vh;
}

.experience-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -50px; */
    justify-content: center;
}

.exp-box {
    /* margin: auto; */
    display: block;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    /* border: 1px solid #d32f2f; */
}

.big-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 700px;
    /* width: 500px; */
    margin-top: -20px;
}

.big-box h2 {
    display: inline-block;
}

.small-box {
    /* display: flex; */
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
    width: 40%;
    border: 1px dotted rgba(255, 0, 0, 0.5);
}

.skill-title {
    color: #d32f2f;
}

.skill-lvl {
    margin-top: -20px;
    color: gray;
    font-size: 80%;
}

.insmall-box {
    width: 160px;
    margin: auto;
    align-items: center;
}

.insmall-box h3 {
    font-size: 15px;
    margin-top: 5px;
    height: auto;
}

.exp-info {
    font-size: 12px;
    margin-top: -10px;
    text-align: center;
}
/* End Experience Section */

/* Projects Section */
#projects {
    height: 550vh;
}

#project-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#project-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project-box-details {
    display: block;
    align-items: center;
    text-align: center;
    border: 1px dotted rgba(255, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 40px;
}

.project-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px dotted rgba(255, 0, 0, 0.5);
}

.project-pic {
    width: 80%;
    margin: auto;
}

#projectButton {
    border-radius: 0;
    margin: 5px;
}
/* End Project Section */

/* Contact Section */
#contact-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px dotted rgba(255, 0, 0, 0.5);
}

#contact-details {
    display: flex;
    padding: 20px;
    align-items: center;
}

.email-notif p {
    position: absolute;
    margin-top: 30px;
    font-size: 80%;
}

#contact-details a {
    text-decoration: none;
    color: inherit;
}

.email-logo {
    height: 50px;
    margin-right: 5px;
}

.fb-logo {
    height: 40px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding-top: 400px;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) { #experience { height: 185vh; } }
@media (max-width: 425px) { #experience { height: 370vh; } }
@media (max-width: 768px) { #experience { height: 220vh; } }
@media (max-width: 1024px) { #experience { height: 220vh; } }

@media (max-width: 1000px) { #projects { height: 490vh; } }
@media (max-width: 840px) { #projects { height: 420vh; } }
@media (max-width: 600px) { 
    #projects { height: 320vh; } 
    .small-box { width: 70%; } 
}
@media (max-width: 500px) { 
    #projects { height: 260vh; }
    .small-box { width: 70%; }
}

@media screen and (max-width: 768px) {
    #about-wrapper {
        flex-direction: column;
    }

    .about-img {
        margin-top: -50px;
        margin-bottom: -10px;
        width: 500px;
        height: 200px;
        object-fit: cover;
    }

    .about-img {
        display: none;
    }
}
